<div class="row">

  <div id="headersearch">
    
  </div>

<% @posts.each do |post| %>

  <div id="title" align="center">
    <h1>Currently available</h1>
  </div>

  <div class="col-md-6 col-md-offset-3" id="listing">
    <div class="col-md-4">

     
      
    </div>
  
  </div>

  <%end%>

</div>